@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');
/* font-family: 'Oxygen', sans-serif;
font-family: 'Ubuntu', sans-serif
font-family: 'Varela Round', sans-serif
 */
body{
    background-color: rgb(197, 173, 141);
}
*{
    margin: 0;
    padding: 0;

}
.fa-spotify{
    font-size: 2.4rem;
    color: rgb(95, 95, 158);
    margin: 6px;
}
nav{
font-family: 'Ubuntu', sans-serif;
color: white;

    
}
#brand-name{
    font-size: 1rem;
    color: white;
    font-family: 'Varela Round', sans-serif;
    position:relative ;
    bottom:  7px;
    left: 2px;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    height: 8vh;
    background-color: rgb(53, 50, 50);
}
nav ul li{
    padding: 2rem;

}

.container{
    min-height: 100vh;
    color: white;
    font-family: 'Oxygen', sans-serif;
    display: flex;
    margin: 2rem auto;
    width: 75%;
    border-radius: 1rem;
    background-image: url("bg.jpg") ;
 text-align: center;
 justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    
}
.bottom{
    position: sticky;
    background-color: black;
    height: 9rem;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;

}

.icons i{
    cursor: pointer;
    padding: 1rem;
    font-size: 1.6rem;
}
#myprogressBar{
    width: 80%;
    cursor: pointer;
    
}
.songItem{
    height: 2.9rem;
    background-color: bisque;
    color: black;
    display: flex;
    margin: 12px 0px;
    
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}
.songItem img{
  width: 9%;
  margin: 3px;
  border-radius: 0.9rem;
}
.songinfo{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left:  5.8rem;
    font-family: 'Varela Round', sans-serif;
}
.songinfo img{
    height: 2rem;
    width: 11rem;
    opacity: 0;
    transition: opacity 0.4s ease-in;

    
}
.smallplay{
    padding: 1rem;
}
.songlen{
    padding: 2rem;
}
@media  screen and (max-width:600px) {
    #title{
        margin-top: 30px;
        font-size: 12px;
    }
    .fa-solid{
        padding: 1px;
    }
}
